<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.5/phpunit.xsd"
         bootstrap="bootstrap.php"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true">
    <testsuites>
        <testsuite name="productcomments">
            <directory suffix="Test.php">Entity</directory>
            <directory suffix="Test.php">Repository</directory>
            <directory suffix="Test.php">Form</directory>
            <directory suffix="Test.php">Controller</directory>
            <directory suffix="Test.php">Module</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">../src</directory>
        </whitelist>
    </filter>
</phpunit>
